/node_modules/
/dist/
/src/page/
/src/post/
/src/file/
/var/

*.bak
*_bak

package-lock.json
*.log
*.tgz
*.zip
*.txt
*~
.DS_Store
*.iconset
res/*.svg
res/*.png

src/bak_*
*_bak/
bak/
tmp/
bld/

cdf*

src/**/*.html
src/**/*.css
src/**/*.map
res/db/
res/log/

**/*.tar.gz