
.site-footer
  max-width 42em
  margin 0 auto
  padding 0 16px
  color #586069
  &-list
    font-size 12px
    line-height 1.5
    display flex
    margin 40px 0
    padding 40px 0 8px
    border-top 1px solid #E1E4E8
    flex-wrap wrap
    justify-content flex-end
    li
      flex 0 0 auto
      margin-left 1.2em
      &:first-child
        margin-right auto
        margin-left 0
      > a
        color #0366D6
