// 组装多个本地字体方便使用

// Heti Hei
@font-face
  font-family: "Heti Hei"
  src:
    local("PingFang SC Regular"),
    local("PingFang TC Regular"),
    local("Hiragino Sans GB W3"),
    local("Heiti SC Regular"),
    local("Heiti TC Regular"),
    local("Microsoft YaHei"),
    local("Microsoft Jhenghei"),
    local("Source Han Sans CN Regular"),
    local("Source Han Sans HK Regular"),
    local("Source Han Sans TW Regular"),
    local("Source Han Sans JP Regular"),
    local("Source Han Sans KR Regular"),
    local("Noto Sans CJK SC Regular"),
    local("Noto Sans CJK TC Regular"),
    local("Noto Sans CJK JP Regular"),
    local("Noto Sans CJK KR Regular"),
    local("WenQuanYi Micro Hei"),
    local("Droid Sans Fallback")
@font-face
  font-family: "Heti Hei"
  font-weight: 200
  src:
    local("PingFang SC Light"),
    local("PingFang TC Light"),
    local("Heiti SC Light"),
    local("Heiti TC Light"),
    local("Microsoft YaHei Light"),
    local("Microsoft Jhenghei Light"),
    local("Source Han Sans CN Light"),
    local("Source Han Sans HK Light"),
    local("Source Han Sans TW Light"),
    local("Source Han Sans JP Light"),
    local("Source Han Sans KR Light"),
    local("Noto Sans CJK SC Light"),
    local("Noto Sans CJK TC Light"),
    local("Noto Sans CJK JP Light"),
    local("Noto Sans CJK KR Light")
@font-face
  font-family: "Heti Hei"
  font-weight: 600
  src:
    local("PingFang SC Medium"),
    local("Hiragino Sans GB W6"),
    local("PingFang TC Medium"),
    local("Heiti SC Medium"),
    local("Heiti TC Medium"),
    local("Microsoft YaHei Bold"),
    local("Microsoft Jhenghei Bold"),
    local("Source Han Sans CN Bold"),
    local("Source Han Sans HK Bold"),
    local("Source Han Sans TW Bold"),
    local("Source Han Sans JP Bold"),
    local("Source Han Sans KR Bold"),
    local("Noto Sans CJK SC Bold"),
    local("Noto Sans CJK TC Bold"),
    local("Noto Sans CJK JP Bold"),
    local("Noto Sans CJK KR Bold")

// Heti Hei Black
@font-face
  font-family: "Heti Hei Black"
  font-weight: 800
  src:
    local("Lantinghei SC Heavy"),
    local("Lantinghei TC Heavy"),
    local("PingFang SC Semibold"),
    local("PingFang TC Semibold"),
    local("Hiragino Sans GB W6"),
    local("Heiti SC Medium"),
    local("Heiti TC Medium"),
    local("Microsoft YaHei Bold"),
    local("Microsoft Jhenghei Bold"),
    local("Source Han Sans CN Heavy"),
    local("Source Han Sans HK Heavy"),
    local("Source Han Sans TW Heavy"),
    local("Source Han Sans JP Heavy"),
    local("Source Han Sans KR Heavy"),
    local("Noto Sans CJK SC Heavy"),
    local("Noto Sans CJK TC Heavy"),
    local("Noto Sans CJK JP Heavy"),
    local("Noto Sans CJK KR Heavy"),
    local("Droid Sans Fallback")

// Heti Song
@font-face
  font-family: "Heti Song"
  src:
    local("Songti SC Regular"),
    local("Songti TC Regular"),
    local("SimSun")
@font-face
  font-family: "Heti Song"
  font-weight: 200
  src:
    local("Songti SC Light"),
    local("Songti TC Light"),
    local(STSong),
    local("SimSun")
@font-face
  font-family: "Heti Song"
  font-weight: 600
  src:
    local("Songti SC Bold"),
    local("Songti TC Bold"),
    local("SimSun")

// Heti Song Black
@font-face
  font-family: "Heti Song Black"
  font-weight: 800
  src:
    local("Songti SC Black"),
    local("SimSun")

// Heti Kai
@font-face
  font-family: "Heti Kai"
  src:
    local("Kaiti SC Regular"),
    local("Kaiti TC Regular"),
    local("BiauKai")
@font-face
  font-family: "Heti Kai"
  font-weight: 600
  src:
    local("Kaiti SC Bold"),
    local("Kaiti TC Bold")

// Heti Kai Black
@font-face
  font-family: "Heti Kai Black"
  font-weight: 800
  src:
    local("Kaiti SC Black"),
    local("Kaiti TC Black")

// 字体栈 Font Stacks
$_font-stack-sans = "Helvetica Neue", Helvetica, Arial
$_font-stack-serif = "Times New Roman", Times
$_font-stack-mono = "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier
$_font-stack-symbol = "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"

// 字体族 Font Families
$font-family-hei = $_font-stack-sans, "Heti Hei", sans-serif, $_font-stack-symbol
$font-family-song = $_font-stack-serif, "Heti Song", serif, $_font-stack-symbol
$font-family-kai = $_font-stack-serif, "Heti Kai", serif, $_font-stack-symbol
$font-family-hei-black = $_font-stack-sans, "Heti Hei Black", sans-serif, $_font-stack-symbol
$font-family-song-black = $_font-stack-serif, "Heti Song Black", serif, $_font-stack-symbol
$font-family-kai-black = $_font-stack-serif, "Heti Kai Black", serif, $_font-stack-symbol
$font-family-mono = $_font-stack-mono, monospace, $_font-stack-symbol


// 声明类型
.heti--sans
  font-family: $font-family-hei
// 定义衬线字体为宋体
.heti--serif
  font-family: $font-family-song
.heti--hei
  font-family: $font-family-hei
.heti--song
  font-family: $font-family-song
.heti--kai
  font-family: $font-family-kai


// 传统字体
// - 正文使用宋体
// - 标题使用楷体 800 字重
// - 引用使用楷体
// - 强调、说明文字、表头使用黑体
.heti--classic
  font-family: $font-family-song
  h(1..6),
    font-family: $font-family-kai-black
    font-weight: 800
  blockquote,
  cite,
  q
    font-family: $font-family-kai
  em,
  figcaption,
  caption,
  th
    font-family: $font-family-hei