
@import 'variables'
article
  table
    box-sizing: border-box
    table-layout: fixed
    margin-block-start: (24px / 2)
    margin-block-end: 24px
    margin-inline-start: auto
    margin-inline-end: auto
    border-collapse: collapse
    border-width: 1px
    border-style: solid
    border-color: hsl(0, 0%, 80%)
    word-break: break-word
    darkmode-style()
  th,
  td
    padding-block-start: (24px / 4)
    padding-block-end: (24px / 4)
    padding-inline-start: (16px / 2)
    padding-inline-end: (16px / 2)
    border-width: 1px
    border-style: solid
    border-color: hsl(0, 0%, 80%)
    darkmode-style()
  caption
    caption-side: bottom
    margin-block-start: 2px
    margin-block-end: -4px
    font-size: 14px
    line-height: 24px