@import '../variables'

article
  // 定义垂直布局
  .heti--vertical
    max-width: none
    max-height: 42em
    writing-mode: vertical-rl
    letter-spacing: 0.125em
    h1,
    h2,
    h3,
    h4,
    h5,
    h6
      text-align: start